{
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "htmlWhitespaceSensitivity": "css",
  "cssWhitespaceSensitivity": "strict",
  "embeddedLanguageFormatting": "auto"
}
